# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\portfolio_kosmo\git\repo_demo2103\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
